ul{
    background-color: rgba(209, 205, 205, 0.685);
    margin-bottom: 0px;
    margin-top: 100%;
    list-style-type: none;
    height: 80px;
    display: flex;
}

.copyright:hover{
    color: red;
}

.copyright{
    margin-left: 1100px; 
    margin-top: 30px;
    align-items: center;
    margin-left: 700px; 
    color:#555
   }
   .social-icons {
    display: flex;
    align-items: center;
    margin-left: 200px;
  }

  .social-icons a {
    margin-right: 15px;
  }

.youtube {
  color: rgb(213, 9, 9);
  font-size: 30px;
}

.instagram {
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  font-size: 30px;
  color:white;
  border-radius: 5px;


}


.gmail {
  font-size: 30px;
  color: #266938;

}

.linkedin {
  color: rgb(5, 46, 158);
  font-size: 30px;
}